    h2 {
        text-indent: 2em;
        clear: left;
    }

    ul li { 
        display: inline;
    }
    
  	ul a { 
        background-color: rgb(255, 255, 255);
        border: 1px solid;
        border-radius: 0.5em;
        color: rgb(125,125,125);
        display: block;
        float: left;
        height: 14.85em;
        margin: 0 1em 1em;
        overflow: hidden;
  	    padding: 0.75em 0.65em 1.35em; 
        position: relative;
  	    text-align: center; 
  	    text-decoration: none; 
        text-indent: 0;
        width: 10.5em;
    }
        
      	ul a:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        
		ul a:after { 
		    content: attr(title); 
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
	    }
		
		ul a:hover { 
	        color: rgb(0,0,0);

		    -webkit-transform: scale(1.25); 
		    -moz-transform: scale(1.25); 
		    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
		    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
		    position: relative; 
		    z-index: 1; 
	    }
	    
    ul img { 
        max-width: 100%; 
        max-height: 100%;
        vertical-align: middle;
        border-radius: 0.35em;
    }

    .folder {
        display: block;
        text-indent: 1em;
        margin: 0;
    }
    
    .folder-closed {
    }
    
        .folder-closed .toggle-link:hover::after {
            content: ' -- Click to expand section';
        }

    .folder-closed a {
        font-size: 25%;
    }
        
    .toggle-link {
        cursor: pointer;
    }
        .toggle-link:hover {
            text-decoration: underline;
        }
        .toggle-link:hover::after {
            content: ' -- Click to collapse section';
            font-size: 60%;
        }
    
    #list {
        padding: 0;
    }

